* {
  box-sizing: border-box;
}

:root {
  --alpha-black: rgba(0, 0, 0, 0.3);
  --alpha-white: rgba(255, 255, 255, 0.8);
  --azul-oscuro:rgb(33,55,91);
  --darkgrey: #aaa;
  --grey: #c6c6c6;
  --red: red;
  --white: white;
  --yellow: yellow;
  --dark-yellow: rgb(181, 181, 3);
  --normal: Arial, Helvetica, sans-serif;
  --azul-cielo: rgb(133, 193, 233);  
}
html{
  font-size: 100%;
  font-family:Arial, Helvetica, sans-serif;
}


body {
  width:1440px;
  max-width: 100%;
  margin: 0 auto;
  font-family:sans-serif;
  font-size: 20px;
  
}
picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1{
font-weight: 900;
color:var(--white)

}

.logo{
  padding: 2rem  1rem;
 
}
.cajas-flex {
  width:100%;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-flow:wrap row;
  justify-content:space-evenly;
  border: 3px blue solid;
  border-radius: 30px;
  background:var(--white);
  padding-top: 4rem;
}
.cajas{
  border: 4px red solid;
  width:100%;;
  max-width:30%;
  margin-bottom: 5rem;
}

.cajas:hover img{-webkit-transform:scale(3);transform:scale(3);

}


.container-cajas{
  padding-top: 10rem;
  border:4px solid green;
  height:80rem;
 
}
/*header (parte central) */

header{
  background-image: url(/ElParaisoDeLaSafor_landing/xeraco_img/IMG_1246.JPG);
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  border-bottom: 15px solid  rgb(230, 68, 68);
}

header .logo{
  display: flex;
  justify-content:space-around;
}

header .logo img{
  width:10rem;
  
}
/* BARRA NAVEGADOR */
aside {

}
.barra-nav{
  background-color:aqua;
}


section{
  background-image:url(/ElParaisoDeLaSafor_landing/xeraco_img/IMG_1246.JPG) ;
}
picture .cajas , img{
width: 5rem;
text-align: center;
}

/* FOOTER (pie de pagina) */
footer{
  max-width: 0 auto;
  max-width:100%;
  background-color: var(--azul-oscuro);
  height: 40rem;
}
.container-footer{
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}
.social{
  display: flex;
  width: 20%;
}
.social img{
  padding: 2rem;
}
 .contact p{
  color:var(--white);
  font-weight: 600;
  font-size: smaller;
}
.final-flex a:hover{
  color: var(--dark-yellow);
}
.contact p:hover{
color: var(--dark-yellow);
}
.final-flex{
  font-weight: 600;
  font-size: smaller;
  color:var(--white);
  display: flex;
  flex-direction:column;
  align-items:center;
}
