* {
  box-sizing: border-box;
}

:root {
  --alpha-black: rgba(0, 0, 0, 0.3);
  --alpha-white: rgba(255, 255, 255, 0.8);
  --azul-oscuro:rgb(33,55,91);
  --darkgrey: #aaa;
  --grey: #c6c6c6;
  --red: red;
  --white: white;
  --yellow: yellow;
  --dark-yellow: rgb(181, 181, 3);
  --normal: Arial, Helvetica, sans-serif;
  --azul-cielo: rgb(133, 193, 233);  
}
html{
  font-size: 100%;
  font-family:Arial, Helvetica, sans-serif;
}


body {
  width:1440px;
  max-width: 100%;
  margin: 0 auto;
  font-family:sans-serif;
  font-size: 20px;
  background-color:black;
  
}
picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1{
font-weight: 900;
color:var(--white)

}

.logo{
  padding: 2rem  1rem;
 
}

/* SECTION */

section{
 background-image:url(/ElParaisoDeLaSafor_landing/xeraco_img/panoramica-xeraco.jpg) ;
 background-position:center;
 background-repeat:no-repeat;
 background-size: cover;

}

/* ASIDE */


.cajas-flex {
  width:100%;
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-flow:wrap row;
  justify-content:space-evenly;
  border: 3px blue solid;
  border-radius: 30px;
  background:var(--white);
  padding-top: 4rem;

}
.cajas{
  border: 4px red solid;
  width:100%;;
  max-width:30%;
  margin-bottom: 5rem;
}

.cajas:hover img{-webkit-transform:scale(3);transform:scale(3);

}


.container-cajas{
  padding-top: 10rem;
  border:4px solid green;
  height:80rem;
 
}



picture .cajas , img{
 width: 5rem;
 text-align: center;
}


@media(max-width:800px){
  .container-footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  }
  .social{
    flex-direction: row; 
    justify-content: center;
  }
  .logo{
    display: flex;
    justify-content: center;
  }
 
   
 .flex {
    display:block;
   
  }
}

  




