nav ul{
  width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    text-decoration: none;
    list-style: none;
  
  }
  nav li{
    padding: 2rem;
    font-family:var(--normal);
    font-size: 22px;
    font-weight: 600;
  }
 
  