* {
  box-sizing: border-box; /*establece que lo que demos de padding y boreder este dentro de la caja*/
}

:root {
  --alpha-black: rgba(0, 0, 0, 0.3);
  --azul-oscuro: rgb(33, 55, 91);
  --grey: #c6c6c6;
  --white: white;
  --red: red;
  --yellow: yellow;
  --normal: Arial, Helvetica, sans-serif;
}

html {
  font-size: 100%; /*1rem sea lo que el usuario establecio como tamaño de fuente original */
  font-family: var(--normal);
}

body {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 20px;
  background-color: var(--alpha-black);
  /* Para mantener el footer en la parte inferior de la pantalla
  cuando el main no ocupa todo el alto */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 900;
  color: var(--white);
}

.logo {
  padding: 5rem;
}

@media screen and (max-width: 1000px) {
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social {
    flex-direction: row;
    justify-content: center;
  }
  .logo {
    display: flex;
    justify-content: center;
  }

  header nav {
    display: none;
  }
  body header button {
    display: block;
  }
  body menu {
    display: block;
    position: absolute;
    top: 0rem;
    background-color: var(--alpha-black);
    list-style: none;
    /* aparicion menu */ 
    margin: 0;
    padding: 0;
    right:50rem;
    bottom: 0;
    top:0rem;
    min-width:33.33%;
    transition: all linear 0.5s;
  }
  body menu a,
  li {
    text-decoration: none;
    padding: 2rem;
  }
  body {
    position: relative;
  }

  .cajas-flex {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 15rem;
  }
  /* aparcion menu */
  body.menu-open menu{
    display: block;
    margin: 0;
    padding: 0;
    right:10rem;
    bottom:0rem;
    top:0rem;
    min-width:33.33%;
  }
}
