nav ul{
  display: flex;
  flex-direction: row;
  justify-content: end;

  
}
nav{
  padding: 2rem;

}

nav li ,a {
  padding: 2rem;
  font-size: 22px;
  font-weight: 600;
  list-style: none;
  color:aliceblue;
}
nav a {
  text-decoration: none;
}
nav a:hover {
  font-size:25px;
  color: var(--azul-oscuro);
}
menu a:hover{
  font-size:20px;
  color:black;
}





